.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f5f5f5;
}

.header-bar {
    -fx-background-color: #3949ab;
    -fx-padding: 10;
}

.button {
    -fx-background-color: #5c6bc0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
}

.file-list {
    -fx-background-color: white;
    -fx-border-color: #c5cae9;
    -fx-padding: 10;
}
